<div class="container">
  <div class="row mt-2">
    <div class="col-mid-2 offset-md-2">ジャンル検索</div>
    <div class="table">
  <tr>
    <% @homes.each do |home| %>
    <td><%= home.find(params[:id]) %></td>
    <% end %>
  </tr>
    </div>
    </div>
  </div>
</div>
<div class="row-mt3 pt-3">
  <div class="col-md-4 offset-md-2">
    <div class="row field"></div>
  </div>
</div>
    