<h2>注文履歴一覧</h2>
<table class="table">
  <thead>
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>注文ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @homes.each do |home| %>
    <tr>
      <td>
        <%= home.created_at %>
      </td>
      <td>
        <%= home.name %>
      </td>
      <td>
        <%= home.amount %>
      </td>
      <td>
        <%= home.status %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>